:root {
  --height-top: 50px;
  --height-bottom: 60px;
}

.header {
  width: 100%;
}

.header__top {
  height: var(--height-top);
  background-color: var(--primary);
}

.header__links--top {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-for-container);
  display: flex;
  gap: 20px;
  color: var(--white);
  list-style-type: none;

  li:last-child {
    margin-left: auto;
  }
}

.header__link-anchor,
.header__link-button {
  height: var(--height-top);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s;
}

.header__link-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
}

.header__link-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background: var(--white);
  color: var(--primary);
  transition: transform 0.3s ease;

  svg {
    display: block;
    width: 14px;
    height: 14px;
  }
}

.header__link-anchor:hover,
.header__link-button:hover {
  .header__link-icon {
    transform: translateY(-3px);
  }
}

.header__bottom {
  height: var(--height-bottom);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.header__logo a {
  font-weight: bold;
  font-size: 20px;
}

.header__links--bottom {
  max-width: var(--max-width);
  height: var(--height-bottom);
  margin: 0 auto;
  padding: var(--padding-for-container);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  list-style-type: none;

  li:first-child {
    margin-right: auto;
  }

  li {
    transition:
      color 0.3s ease,
      transform 0.3s ease;
  }

  li:hover:not(:first-child) {
    transform: translateY(-2px);
    color: var(--primary);
  }

  li .header__bottom-link--active {
    color: var(--primary);
  }
}
