.loading__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  min-height: var(--min-height-for-page);
}

.loading__spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
